<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gym - view trainer</title>
    <script th:replace="~{../templates/bootstrap-head.html}"></script>
</head>

<body class="d-flex flex-column min-vh-100">
<div th:replace="~{../templates/header}"></div>
<div th:replace="~{../templates/mainmenu}"></div>
<div class="container">
    <div class="row justify-content-md-left">
        <div class="col-md shadow-lg p-3 mb-5 bg-white rounded">
            <table class = "table table-hover">
                <caption th:text="'Trainer #' + ${trainer.getId()} + ' info'">Trainer info</caption>
                <tr>
                    <th>Attribute</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>Id: </td>
                    <td th:text="${trainer.getId()}" id="id">VALUE</td>
                </tr>
                <tr>
                    <td>First name: </td>
                    <td th:text="${trainer.getFirstName()}" id="firstName">VALUE</td>
                </tr>
                <tr>
                    <td>Last name: </td>
                    <td th:text="${trainer.getLastName()}" id="lastName">VALUE</td>
                </tr>
                <tr>
                    <td>User name: </td>
                    <td th:text="${trainer.getUserName()}" id="userName">VALUE</td>
                </tr>
                <tr>
                    <td>Is active: </td>
                    <td th:text="${trainer.isActive()}" id="isActive">VALUE</td>
                </tr>
                <tr>
                    <td>Specialization: </td>
                    <td th:text="${trainer.getSpecialization().getName()}" id="specialization">VALUE</td>
                </tr>
            </table>
            <form th:method="GET" th:action="@{../trainers/{id}/edit(id=${trainer.getId()})}">
                <button type="button" class="btn btn-outline-secondary btn-sm" onclick="history.back()">Go back</button>
                <button type="submit" class="btn btn-outline-secondary btn-sm">Edit</button>
            </form>
        </div>
    </div>
</div>
<div th:insert="~{../templates/footer}"></div>
</body>
</html>
