<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <!-- File appender -->
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>log.log</file>
    <filter class="ch.qos.logback.classic.filter.LevelFilter">
      <level>ERROR</level>
      <onMatch>ACCEPT</onMatch>
      <onMismatch>DENY</onMismatch>
    </filter>
    <encoder>
      <Pattern>%date %level [%thread] %logger{10} [%file:%line] %msg%n</Pattern>
    </encoder>
  </appender>
  
  <!-- Console appender -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
        <Pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</Pattern>
    </encoder>
  </appender>
  
  <!-- Loggers -->
  <!-- Class logger -->
  <logger name="com.epam.dmgolub.gym" level="DEBUG">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
  </logger>
  
  <!-- Spring loggers -->
  <logger name="org.springframework" level="ERROR">
    <appender-ref ref="STDOUT" />
  </logger>
  <logger name="org.springframework.security" level="ERROR">
  </logger>
  
  <!-- Hibernate logger -->
  <logger name="org.hibernate" level="ERROR">
    <appender-ref ref="STDOUT" />
  </logger>
</configuration>
