<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset ="UTF-8"/>
    <title>Gym CRM - trainees</title>
    <script th:replace="~{../templates/bootstrap-head.html}"></script>
    <style th:replace="~{../templates/style.html}"></style>
</head>
<body>
<div class="page-container d-flex flex-column min-vh-100">
    <div th:replace="~{../templates/header}"></div>
    <div th:replace="~{../templates/mainmenu}"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md shadow-lg p-3 mb-5 bg-white rounded">
                <h2>Gym trainees</h2>
                <p>
                    Allows to view all the trainees of the Gym.
                    To view detailed information about the trainee, click on the link by the id of the trainee.<br/>
                    You can also edit, delete, and add new trainees.
                </p>
                <div style="display: flex; justify-content: left; margin-bottom: 10px">
                    <form th:method="GET" th:action="@{/trainees/new}">
                        <button type="submit" class="btn btn-outline-dark" style="margin-right: 10px">Add new trainee</button>
                    </form>
                    <form th:method="POST" th:action="@{/trainees/action}" >
                        <label for="action"> or choose an action:</label>
                        <select id="action" name="action">
                            <option value="find">find</option>
                            <option value="delete">delete</option>
                        </select>
                        <label for="userName"> by user name:</label>
                        <input type="text" id="userName" name="userName"/>
                        <button type="submit" class="btn btn-outline-dark">Apply!</button>
                    </form>
                </div>
                <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                    <p th:text="${errorMessage}"></p>
                </div>
                <div th:if="${successMessage}" class="alert alert-success" role="alert">
                    <p th:text="${successMessage}"></p>
                </div>
                <div th:if=${#lists.isEmpty(trainees)}>There are no trainees yet.</div>
                <table class = "table table-hover" th:if="${not #lists.isEmpty(trainees)}" border="1">
                    <caption>All gym trainees</caption>
                    <thead class="thead-dark">
                        <tr>
                            <th>Id</th>
                            <th>First name</th>
                            <th>Last name</th>
                            <th>User name</th>
                            <th>Is active</th>
                            <th>Date of birth</th>
                            <th>Address</th>
                            <th>Edit</th>
                            <th>Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="trainee, iterStat : ${trainees}">
                            <td><a th:href="@{/trainees/{id}(id=${trainee.getId()})}" th:text="${trainee.getId()}">VALUE</a></td>
                            <td th:text="${trainee.getFirstName()}">VALUE</td>
                            <td th:text="${trainee.getLastName()}">VALUE</td>
                            <td th:text="${trainee.getUserName()}">VALUE</td>
                            <td th:text="${trainee.isActive()}">VALUE</td>
                            <td th:text="${#dates.format(trainee.getDateOfBirth(), 'dd-MM-yyyy')}">VALUE</td>
                            <td th:text="${trainee.getAddress()}">VALUE</td>
                            <td>
                                <form th:method="GET" th:action="@{/trainees/{id}/edit(id=${trainee.getId()})}">
                                    <button type="submit" class="btn btn-outline-secondary btn-sm">Edit</button>
                                </form>
                            </td>
                            <td>
                                <form th:method="DELETE" th:action="@{/trainees/{id}(id=${trainee.getId()})}">
                                    <button type="submit" class="btn btn-outline-secondary btn-sm"
                                            onclick="return confirm('Are you sure you want to delete this trainee?');">Delete</button>
                                </form>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{../templates/footer}"></div>
</div>
</body>
</html>
