<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gym - view trainee</title>
    <script th:replace="~{../templates/bootstrap-head.html}"></script>
    <style th:replace="~{../templates/style.html}"></style>
</head>

<body>
<div class="page-container d-flex flex-column min-vh-100">
    <div th:replace="~{../templates/header}"></div>
    <div th:replace="~{../templates/mainmenu}"></div>
    <div class="container">
        <div class="row justify-content-md-left">
            <div class="col-md shadow-lg p-3 mb-5 bg-white rounded">
                <table class = "table table-hover">
                    <caption th:text="'Trainee #' + ${trainee.getId()} + ' info'">Trainee info</caption>
                    <tr>
                        <th>Attribute</th>
                        <th>Value</th>
                    </tr>
                    <tr>
                        <td>Id: </td>
                        <td th:text="${trainee.getId()}" id="id">VALUE</td>
                    </tr>
                    <tr>
                        <td>First name: </td>
                        <td th:text="${trainee.getFirstName()}" id="firstName">VALUE</td>
                    </tr>
                    <tr>
                        <td>Last name: </td>
                        <td th:text="${trainee.getLastName()}" id="lastName">VALUE</td>
                    </tr>
                    <tr>
                        <td>User name: </td>
                        <td th:text="${trainee.getUserName()}" id="userName">VALUE</td>
                    </tr>
                    <tr>
                        <td>Is active: </td>
                        <td th:text="${trainee.isActive()}" id="isActive">VALUE</td>
                    </tr>
                    <tr>
                        <td>Date of birth: </td>
                        <td th:text="${#dates.format(trainee.getDateOfBirth(), 'dd-MM-yyyy')}" id="dateOfBirth">VALUE</td>
                    </tr>
                    <tr>
                        <td>Address: </td>
                        <td th:text="${trainee.getAddress()}" id="address">VALUE</td>
                    </tr>
                    <tr>
                        <td>Trainers: </td>
                        <td id="trainers">
                            <span th:if="${#lists.isEmpty(trainee.getTrainers())}">No trainers have been added yet</span>
                                <span th:each="trainer, iterStat : ${trainee.getTrainers()}">
                                    <a th:text="${trainer.getFirstName() + ' ' + trainer.getLastName() + ' (' + trainer.getSpecialization().getName() + ')'}">VALUE</a>
                                <span th:text="${!iterStat.last ? ', ' : ''}"></span>
                            </span>
                        </td>
                    </tr>
                </table>
                <form th:method="GET" th:action="@{../trainees/{id}/edit(id=${trainee.getId()})}">
                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="history.back()">Go back</button>
                    <button type="submit" class="btn btn-outline-secondary btn-sm">Edit</button>
                </form>
            </div>
        </div>
    </div>
    <div th:insert="~{../templates/footer}"></div>
</div>
</body>
</html>
