<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gym - new training</title>
    <script th:replace="~{../templates/bootstrap-head.html}"></script>
    <style th:replace="~{../templates/style.html}"></style>
</head>

<body>
<div class="page-container d-flex flex-column min-vh-100">
    <div th:replace="~{../templates/header}"></div>
    <div th:replace="~{../templates/mainmenu}"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md shadow-lg p-3 mb-5 bg-white rounded">
                <p>
                    Fill in all the fields to add a new training. Please note that all values are mandatory.<br/>
                    if there are no trainers available, please add a new trainer first.
                </p>
                <form th:method="POST" th:action="@{/trainings}" th:object="${training}" id="newTraining">
                    <h2>New training for <span th:text="${trainee.getFirstName() + ' ' + trainee.getLastName()}">VALUE</span></h2>
                    <input type="hidden" id="traineeUserName" name="traineeUserName" th:value="${trainee.getUserName()}"/>
                    <br/>
                    <label for="trainerUserName">Trainer: </label>
                    <select th:field="*{trainerUserName}" id="trainerUserName" name="trainerUserName">
                        <option th:if="${trainers != null}" disabled="disabled" selected="selected" value="">Please select...</option>
                        <option th:if="${training.getTrainerUserName() != null}" th:value="${training.getTrainerUserName()}"
                                th:text="${training.getTrainerUserName()}">VALUE</option>
                        <option th:if="${trainers != null}" th:each="trainer : ${trainers}" th:value="${trainer.getUserName()}"
                                th:text="${trainer.getFirstName()} + ' ' + ${trainer.getLastName() + ' (' + trainer.getSpecialization().getName() + ')'}"></option>
                    </select>
                    <div style="color:red" th:if="${#fields.hasErrors('trainerUserName')}" th:errors="*{trainerUserName}">Trainer error</div>
                    <br/>
                    <label for="name">Name: </label>
                    <input type="text" th:field="*{name}" id="name"/>
                    <div style="color:red" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error</div>
                    <br/>
                    <label for="date">Date: </label>
                    <input type="date" th:field="*{date}" id="date"/>
                    <div style="color:red" th:if="${#fields.hasErrors('date')}" th:errors="*{date}">Date error</div>
                    <br/>
                    <label for="duration">Duration: </label>
                    <input type="number" th:field="*{duration}" id="duration"/>
                    <div style="color:red" th:if="${#fields.hasErrors('duration')}" th:errors="*{duration}">Duration error</div>
                    <br/>
                    <button type="button" class="btn btn-outline-secondary btn-sm" onclick="history.back()">Cancel</button>
                    <button type="reset" class="btn btn-outline-secondary btn-sm">Reset</button>
                    <button type="submit" class="btn btn-outline-secondary btn-sm" >Save</button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="~{../templates/footer}"></div>
</div>
</body>
</html>
