<div th:fragment="menu">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" th:href="@{/}">GYM</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" th:href="@{/trainees/}">Trainees</a>
        <a class="nav-item nav-link" th:href="@{/trainers/}">Trainers</a>
        <a class="nav-item nav-link" th:href="@{/trainings/}">Trainings</a>
        <a class="nav-item nav-link" th:href="@{/profile/}">Profile</a>
      </div>
    </div>
  </nav>
</div>
