<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset ="UTF-8"/>
    <title>Gym CRM - trainers</title>
    <script th:replace="~{../templates/bootstrap-head.html}"></script>
    <style th:replace="~{../templates/style.html}"></style>
</head>

<body>
<div class="page-container d-flex flex-column min-vh-100">
    <div th:replace="~{../templates/header}"></div>
    <div th:replace="~{../templates/mainmenu}"></div>
    <div class="container">
        <div class="row justify-content-md-center">
            <div class="col-md shadow-lg p-3 mb-5 bg-white rounded">
                <h2>Gym trainers</h2>
                <p>
                    Allows to view all the trainers of the Gym.
                    To view detailed information about the trainer, click on the link by the id of the trainer.<br/>
                    You can also edit and add new trainers.
                </p>
                <div style="display: flex; justify-content: left; margin-bottom: 10px">
                    <form th:method="GET" th:action="@{/trainers/new}">
                        <button type="submit" class="btn btn-outline-dark" style="margin-right: 10px">Add new trainer</button>
                    </form>
                    <form th:method="POST" th:action="@{/trainers/action}" >
                        <label for="action"> or choose an action:</label>
                        <select id="action" name="action">
                            <option value="find">find</option>
                        </select>
                        <label for="userName"> by user name:</label>
                        <input type="text" id="userName" name="userName"/>
                        <button type="submit" class="btn btn-outline-dark">Apply!</button>
                    </form>
                </div>
                <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
                    <p th:text="${errorMessage}"></p>
                </div>
                <div th:if="${successMessage}" class="alert alert-success" role="alert">
                    <p th:text="${successMessage}"></p>
                </div>
                <div th:if=${#lists.isEmpty(trainers)}>There are no trainers yet.</div>
                <table class = "table table-hover" th:if="${not #lists.isEmpty(trainers)}" border="1">
                    <caption>All gym trainers</caption>
                    <thead class="thead-dark">
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>User name</th>
                        <th>Is active</th>
                        <th>Specialization</th>
                        <th>Edit</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="trainer, iterStat : ${trainers}">
                        <td th:text="${trainer.getFirstName()}">VALUE</td>
                        <td th:text="${trainer.getLastName()}">VALUE</td>
                        <td><a th:href="@{/trainers/profile(userName=${trainer.getUserName()})}" th:text="${trainer.getUserName()}">VALUE</a></td>
                        <td th:text="${trainer.isActive()}">VALUE</td>
                        <td th:text="${trainer.getSpecialization().getName()}">VALUE</td>
                        <td>
                            <form th:method="GET" th:action="@{/trainers/edit}">
                                <input type="hidden" name="userName" th:value="${trainer.getUserName()}" />
                                <button type="submit" class="btn btn-outline-secondary btn-sm">Edit</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div th:replace="~{../templates/footer}"></div>
</div>
</body>
</html>
