<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Gym CRM - Unauthenticated</title>
    <script th:replace="~{../templates/bootstrap-head.html}"></script>
    <style th:replace="~{../templates/style.html}"></style>
</head>

<body>
<div class="page-container d-flex flex-column min-vh-100">
    <div th:replace="~{../templates/header}"></div>
    <div th:replace="~{../templates/mainmenu}"></div>
    <div class="container">
        <div class="row justify-content-md-left">
            <div class="col-md shadow-lg p-3 mb-5 bg-white rounded">
                <h2>Sorry, this page is not available</h2>
                <p>
                    You need to <a th:href="@{/login}">log in</a> to view this page.<br>
                    You can also <a href="" onclick="history.back(-2); return false;">go back</a>
                    or to the <a th:href="@{/}">main page</a>.
                </p>
            </div>
        </div>
    </div>
    <div th:replace="~{../templates/footer}"></div>
</div>
</body>
</html>